.alpha {
  margin-top: 0; }

.omega {
  margin-bottom: 0; }

.api-request,
.api-response {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  background-color: #FAFAFA;
  padding: 0 15px;
  overflow-x: auto; }

.jumbotron {
  background-color: transparent; }

.masthead {
  background-color: #F55641;
  color: white;
  margin-bottom: 24px; }
  @media screen and (min-width: 768px) {
    .masthead {
      padding-top: 96px;
      padding-bottom: 48px;
      margin-bottom: 96px; } }

.navbar-transparent {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .navbar-transparent .navbar-nav > li > a {
    color: white; }
  .navbar-transparent .navbar-nav > li > a:hover,
  .navbar-transparent .navbar-nav.nav > li > a:focus {
    background-color: transparent; }
  .navbar-transparent .navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1); }
    .navbar-transparent .navbar-toggle .icon-bar {
      background-color: white; }

.navbar-brand {
  color: white;
  font-weight: bold; }

.navbar-brand-platform {
  color: rgba(0, 0, 0, 0.4); }
