---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$line-height-computed: 24px;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$screen-sm-min: 768px;

.alpha { margin-top: 0; }
.omega { margin-bottom: 0; }

// Import partials from `sass_dir` (defaults to `_sass`)
@import "api",
        "jumbotron",
        "masthead",
        "navbar";
