<div style="padding: 60px 0; margin-top: -60px;">
  <div class="alert alert-success alert-dismissible" role="alert" style="background-color: #fccac3; color: #de240c; text-align: center; margin-bottom: 50px; margin-top: -40px; display: none;">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h3>Successfully subscribed to Assembly Assets. Keep an eye out for your confirmation email.</h3>
  </div>

  <div class="alert alert-danger alert-dismissible" role="alert" style="text-align: center; margin-bottom: 50px; margin-top: -40px; display: none;">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h3>Something went wrong; please try again in a few minutes.</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-5 lead omega">
        To earn your first <strong>Assembly Assets</strong>, sign up and follow the <a href="https://assembly.com/assemblycoins" style="text-decoration: underline; color: black;">Assets project</a> on <a href="https://assembly.com" style="text-decoration: underline; color: black;">Assembly</a>. We'll send 10 Assets to your account, representing 0.0001% of the coins available for the Assets project.<sup>*</sup>
        <br/>
        <div style="font-size: 14px;">
          <sup>*</sup> Each project has its own coin allocations; your will be a partner in the (revenue-generating) Assets project itself.
        </div>
      </div>
      <div class="col-md-3">
        <span class="lead">
          <strong>1. Sign up</strong>
          <br/>
        </span>
        Follow Assembly Assets. (We hate spam; don't expect any from us.)
        <form id="email-signup" role="form" data-url="https://assembly.com/api/products/assemblycoins/potential_users">
          <div class="form-group form-group-sm" style="margin-top: 5px; margin-bottom: 1px;">
            <label for="email" class="sr-only">Email address</label>
            <input class="email form-control input-sm" type="email" name="email" placeholder="Email address" autofocus="true">
          </div>
          <button type="submit" class="btn btn-default btn-sm btn-block">Sign up</button>
        </form>
      </div>
      <div class="col-md-2">
        <span class="lead"><strong>2. Log in</strong><br/></span> We'll send you a confirmation email; sign up or log in to your existing account to claim your Assembly Assets.
      </div>
      <div class="col-md-2">
        <span class="lead"><strong>3. Share</strong><br/></span> Tell the world! Tweet about <strong>#asm-assets</strong> after you've signed up and we'll throw in five extra coins.
      </div>
    </div>
  </div>
</div>
