<nav class="navbar navbar-transparent navbar-static-top omega" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#coins-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span class="navbar-brand-platform">Assembly</span> Assets
      </a>
    </div>

    <div class="collapse navbar-collapse" id="coins-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="https://github.com/assemblymade/btctools/blob/master/whitepaper.md">Whitepaper</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="https://github.com/assemblymade/assets">Github</a></li>
        <li><a href="https://twitter.com/asm">Twitter</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
