.navbar-transparent {
  border-bottom: 1px solid rgba(black, 0.1);

  .navbar-nav > li > a { color: white; }
  .navbar-nav > li > a:hover,
  .navbar-nav.nav > li > a:focus {
    background-color: transparent;
  }

  .navbar-toggle {
    background-color: rgba(black, 0.1);

    .icon-bar {
      background-color: rgba(white, 1);
    }
  }
}

.navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar-brand-platform {
  color: rgba(black, 0.4);
}
