---
# Only the main Sass file needs this front matter (the dashes are enough)
---

@charset "utf-8";
@import 'masthead';

body {
  font-family: "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
}

.alpha {
  margin-top: 0;
}

.omega {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.api-request,
.api-response {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  background-color: #FAFAFA;
  padding: 0 15px;
  overflow-x: auto; }
