.masthead {
  background-color: #229dab;
  color: white;
  margin-bottom: 24px;
  position: relative; }

.masthead-navbar,
.masthead-jumbotron {
  position: relative; }

.masthead-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .2;
  background-size: cover; }

.masthead-navbar .navbar-nav > li > a {
  color: white; }
.masthead-navbar .navbar-nav > li > a:hover,
.masthead-navbar .navbar-nav.nav > li > a:focus {
  background-color: transparent; }
.masthead-navbar .navbar-toggle {
  background-color: rgba(0, 0, 0, 0.1); }
  .masthead-navbar .navbar-toggle .icon-bar {
    background-color: white; }
.masthead-navbar .navbar-brand {
  color: white;
  font-weight: bold; }
  .masthead-navbar .navbar-brand span {
    color: rgba(255, 255, 255, 0.8); }

.masthead-jumbotron {
  background-color: transparent; }

@media screen and (min-width: 768px) {
  .masthead {
    padding-top: 24px;
    padding-bottom: 24px; } }
body {
  font-family: "Source Sans Pro";
  -webkit-font-smoothing: antialiased; }

.alpha {
  margin-top: 0; }

.omega {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: .1em; }

.api-request,
.api-response {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  background-color: #FAFAFA;
  padding: 0 15px;
  overflow-x: auto; }
