<div class="container" style="margin-top:60px;margin-bottom:60px">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <ul class="list-inline text-center omega">
          <li><a href="/">Home</a></li>
          <li><a href="/colors/1565XBNc3HkFAZESsEBgyL4KQPLUQW8BTj">Ownership</a></li>
          <li><a href="/docs">API Docs</a></li>
          <li><a href="/whitepaper">Whitepaper</a></li>
          <li><a href="https://github.com/assemblymade/assemblycoins">Code</a></li>
          <li><a href="https://assembly.com/assemblycoins">Assembly</a></li>
          <li><a href="https://twitter.com/asm">@asm</a></li>
          <li><a href="mailto:your-account@helpful.io" data-helpful="assemblycoins">Get Help!<a>
        </ul>
      </div>
    </div>
  </div>
</div>



<script async src="https://assets.helpful.io/assets/widget.js"></script>
