<div class="masthead">
  <div class="masthead-img" style="background-image:url(/images/city.jpg)"></div>

  <nav class="navbar masthead-navbar navbar-static-top omega" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#coins-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span>Assembly</span> Coins
        </a>
      </div>

      <div class="collapse navbar-collapse" id="coins-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/api.html">API</a></li>
          <li><a href="/faq.html">FAQ</a></li>
          <li><a href="/whitepaper.html">Whitepaper</a></li>
          <li><a href="https://assembly.com">Assembly</a></li>
          <li><a href="https://twitter.com/asm">@asm</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="jumbotron masthead-jumbotron omega">
    <div class="container text-center">
      <h1>Create new coins on top<br>of the Bitcoin blockchain.</h1>

      <p>
        Accurately model any asset, from karma to ownership in a business, using the Bitcoin blockchain.
      </p>
    </div>
    <br>
  </div>
</div>
