<div class="masthead omega">
  <div class="masthead-img" style="background-image:url(/images/city.jpg)"></div>

  <div class="masthead-navbar">
    {% include navbar.html %}
  </div>

  <div class="jumbotron masthead-jumbotron">
    <div class="container text-center">
      <h1>Create your own Cryptocurrency on the <br>Bitcoin blockchain.</h1>

      <p>
        A trustless and verifiable way to model any asset, from karma to ownership, using the Bitcoin blockchain.        
      </p>

      <br>

      <div class="text-center">
        <a class="btn btn-lg masthead-btn" href="/whitepaper">Read the Whitepaper</a>
      </div>

    </div>
    <br>
  </div>
</div>
