<div class="masthead omega">
  <div class="masthead-img" style="background-image:url(/images/city.jpg)"></div>

  <div class="masthead-navbar">
    {% include navbar.html %}
  </div>

  <div class="jumbotron masthead-jumbotron">
    <div class="container text-center">
      <h1>Create custom coins on top<br>of the Bitcoin blockchain.</h1>

      <p>
        Accurately model any asset, from karma to ownership in a business, using the Bitcoin blockchain.
      </p>

      <br>

      <div class="text-center">
        <a class="btn btn-lg masthead-btn" href="/whitepaper">Get started with Assembly Coins</a>
      </div>
    </div>
    <br>
  </div>
</div>
